@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-card: 56rem;
  --breakpoint-mga: 150rem;
  --breakpoint-smga: 120rem;
  --breakpoint-gmga: 180rem;
  
}